4x4_matrix_sim/figures for paper
Transitory_double_gyre/figures
Transitory_double_gyre/Saved_eigs
Transitory_double_gyre/Riemannian_operators_transitory_double_gyre.zip
HSI/casi_2013.mat
HSI/lidar_2013.mat
